*{
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}

body{
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background: linear-gradient(135deg, #2cd491, #92dd99);
}

.body-clouds{
  display: none;
  width: 700px;
  margin-top: 150px;
  margin-left: 100px;
}

main{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#grid-wrapper{
  width: 620px;
  height: 620px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#grid{
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  background-image: url(../assets/game-background.png);
  background-size: cover;
}

.cell{
  height: 10%;
  width: 10%;
}

#cover{
  background: white;
  position: absolute;
  width: 600px;
  height: 600px;
  text-align: center;
  background-image: url(../assets/cover-background.png);
  background-size: cover;
}

h1{
  font-size: 120px;
  text-shadow: 6px 4px white;
  margin: 150px 0 0 0;
  z-index: 2;
}

#cover button{
  cursor: pointer;
  background: #FF6B6B;
  margin-top: 40px;
  padding: 15px 50px;
  color: white;
  font-size: 18px;
  font-size: 1;
  box-shadow: 7px 7px black;
  cursor: pointer;
  animation: pulse 1.5s infinite;
  border: 3px solid black;
}

#scoreboard, #grid-wrapper, #instructions{
  border-radius: 5px;
  background: black;
}

#scoreboard{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  margin-bottom: 10px;
  font-size: 13px;
  padding: 10px 0 10px 0;
}

#lives{
  display: flex;
  align-items: center;
}

h3{
  display: inline-block;
  margin-right: 15px;
}

#scoreboard img{
  width: 20px;
  margin-right: 7px;
}

#scoreboard button, #alert button{
  background: transparent;
  color: #FF6B6B;
  border: none;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  cursor: pointer;
}

#instructions{
  color: white;
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
}

#instructions div{
  font-size: 12px;
  display: inline-block;
  padding: 15px 0 15px 0;
  display: flex;
  align-items: center;
}

#move-right, #move-left{
  width: 40px;
  margin-right: 10px;
}

#space-bar{
  width: 100px;
  margin-right: 10px;
}

#alert{
  position: absolute;
  text-align: center;
  background: black;
  color: white;
  padding: 30px 80px;
  border: 3px solid white;
}

#alert h3{
  font-size: 40px;
  margin: 0 0 15px 0;
}

#alert h4{
  font-size: 15px;
  margin-bottom: 30px;
}

.gem{
  background-image: url('../assets/gem.png');
  background-size: cover;
}

.rainbow-shot{
  background-image: url('../assets/rainbow-shot.png');
  background-size: cover;
}

.dark-clouds{
  background-image: url(../assets/enemy.png);
  background-size: cover;
}

.drop-lightning{
  background-image: url(../assets/bolt.png);
  background-size: cover;
}

.colpito{
  background: purple;
}

.hitted{
  background-image: url(../assets/darkClouds-boom.gif);
  background-size: cover;
}

.blink-me {
  background-image: url('../assets/hitted.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
} 

.rainbow-vomit{
  background-image: url('../assets/gem-shooting.png');
  background-size: cover;
}

.display-none{
  display: none;
}

.visibility-hidden{
  visibility: hidden;
}

/* --------------------------------------------- ANIMATIONS --------------------------------------------- */

@-webkit-keyframes pulse {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  50% {
    -webkit-transform: scale3d(1.05, 1.05, 1.05);
    transform: scale3d(1.05, 1.05, 1.05);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
