*{
  box-sizing: border-box;
  font-family: 'Press Start 2P', cursive;
}

body{
  height: 100vh;
  margin: 0px;
  padding: 0px;
  background: linear-gradient(135deg, #5f9bfb, #68d7ff);
}

main{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#grid-wrapper{
  width: 620px;
  height: 620px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#grid{
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
  background-image: url(../assets/game-background.png);
  background-size: cover;
}

.cell{
  height: 10%;
  width: 10%;
}

#cover{
  background: white;
  position: absolute;
  width: 600px;
  height: 600px;
}

#scoreboard, #grid-wrapper, #instructions{
  border-radius: 5px;
  background: black;
}

#scoreboard{
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  margin-bottom: 10px;
  font-size: 13px;
  padding: 10px 0 10px 0;
}

#lives{
  display: flex;
  align-items: center;
}

h3{
  display: inline-block;
  margin-right: 15px;
}

#scoreboard img{
  width: 20px;
  margin-right: 7px;
}

#scoreboard button{
  background: transparent;
  color: white;
  border: none;
  text-decoration: underline;
  text-decoration-thickness: 3px;
  cursor: pointer;
}

#instructions{
  color: white;
}

#instructions ul{
  font-size: 12px;
  list-style-type: none;
}

#instructions li{
  display: inline-block;
  padding: 15px 0 15px 0;
}

.gem{
  background-image: url('../assets/gem.png');
  background-size: cover;
}

.rainbow-shot{
  background-image: url('../assets/rainbow-shot.png');
  background-size: cover;
}

.dark-clouds{
  background-image: url(../assets/enemy.png);
  background-size: cover;
}

.drop-lightning{
  background-image: url(../assets/bolt.png);
  background-size: cover;
}

.colpito{
  background: purple;
}

.hitted{
  background-image: url(../assets/darkClouds-boom.gif);
  background-size: cover;
}

.blink-me {
  background-image: url('../assets/hitted.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
} 

.rainbow-vomit{
  background-image: url('../assets/gem-shooting.png');
  background-size: cover;
}

.display-none{
  display: none;
}